{% set nbr = 0%}


{% if authors | length > 0 %}
    {% for author in authors %}
        <li>{{ author.username | upper }}</li>
        {% set nbr = nbr + author.nb_books %}
    {% endfor %}
{% else %}
    <li>No authors</li>
{% endif %}

{% if nbr > 0 %}
    <li>{{ nbr }} books</li>
{% endif %}


